<% if user_signed_in? -%>
    <div class="MovieListItem"> <span> <a href="/">Updates from friends</a> </span> </div>
<% end-%>
    <div class="MovieListItem"> <span> <a href="/upcoming">Upcoming movies</a> </span> </div>
    <div class="MovieListItem"> <span> <a href="/titles">Browse Movies &amp; Series</a> </span> </div>
    <div class="MovieListItem"> <span> <a href="/people">Browse Actors &amp; Directors</a> </span> </div>
