<%content_for(:left) do -%>
<h1 class="SectionTitle">About MovieAB.com</h1>
<p>MovieAB is a mashup of various Movie data APIs available on the internet for free. It started with <a href="http://www.netflix.com/">Netflix</a> releasing their entire catalog of Movie titles, freely available for any developer to build services around it - commercial uses included.</p>
  <p><strong>Who is the target audience?</strong></p>
  <p>MovieAB is targeted at people who are looking for information about movies from various sources, consolidated at one place.</p>
  <p><strong>What does AB stand for?</strong></p>
  <p>I have no idea. This was the smallest domain name available. iMovie, gMovie, LiveMovie are all taken ;-)</p>
<%end%>
<%content_for(:right) do -%>
<%= render :partial => "layouts/sponsors" -%>
<%end%>
