<%content_for(:left) do -%>
<h1 class="SectionTitle">Your feedback</h1>
<p>Applications are not perfect, and there's always a room for improvement. Is there something serious that needs our attention? HTTP/500s? Broken layout? Feature requests? Criticisms? Send them to <strong>feedback (at) movieab.com.</strong></p>
<%end%>
<%content_for(:right) do -%>
<%= render :partial => "layouts/sponsors" -%>
<%end%>
